@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family:Poppins;
}

/* .detailsContainer {


  
}  */

.projectsList {
  display: flex;
  flex-direction: column;
  
  gap: 20px;
}

.cityNameContainer{
   margin-top: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   color:white;
   font-size: 30px;
   border-bottom: 2px solid white;
   
}



.cityImageContainer img{
  height: 250px;
  margin-top: 100px;
  width: 98.40vw;
  
  
}

.projectCard {
  display: flex;
  border: 2px solid #f69b3a;
  width: 900px;
  background-color: rgb(53, 51, 51);
  height: 340px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 100px;
 
}

.projectImage {
  width: 50%;
  height: 340px;
  
}

/* .projectInfo {
  margin-top: 50px;
} */

.projectName {
  /* font-family: 'Poppins'; Make sure you load the font if you want to use it */
  background-image: linear-gradient(rgb(237, 186, 18), white); /* Gradient from yellow to white */
  -webkit-background-clip: text; /* For WebKit-based browsers (Chrome, Safari) */
  color: transparent; /* Makes the text transparent to show the gradient */
  background-clip: text; /* For browsers that support this feature (non-WebKit browsers) */
}



.projectLocation,
.projectType,
.projectPrice,
.projectName {
  padding-left:40px ;
  color:white;
} 



.projectPrice{
   float: right; 
   margin-top: -65px; 
   margin-right: 30px;
}


/* .projectDiscounts {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
} */

.projectDiscounts li {
  list-style: none;
  color: white;
} 

.viewDetailsButton {
  background-image: linear-gradient(rgb(248, 174, 70),white);
  color:black;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 40px;
  width: 400px;
  margin-top: 10px;
  
  
} 

/* .viewDetailsButton:hover {
  background-color: #0056b3;
} */
